{% block content %}
        <div class="content-section">
            <h3>Player Online</h3>
            <p class='text-muted'>Current Players Online:
                <div class="list-group">
                    
                </div>
            </p>
        </div>
{% endblock content %}