/*.netdata-legend-toolbox {
    background-color: #004c8c !important;
}

.netdata-legend-toolbox-button {
    background-color: #004c8c !important;
}

.netdata-legend-resize-handler {
    background-color: #004c8c !important;
}

.netdata-legend-value {
    background-color: #004c8c !important;
}

.netdata-container-with-legend {
    background-color: #004c8c !important;
}*/